<div class="card">
    <div class="card-body">
        <h5 class="text-center">Ejercicio #2</h5>

        <div class="row mt-3">
            <div class="col-lg-6 col-md-12">
                <div class="card">
                    <pre>{{values|json}}</pre>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="card" style="overflow-y: scroll; max-height: 565px;">
                    <pre>{{json|json}}</pre>
                </div>
            </div>

        </div>
        <div class="row justify-content-center">
            <div class="col-6">
                <div class="card mt-2">
                    <div class="card-body">
                        <h5>Resultado</h5>
                        <pre>{{resultado|json}}</pre>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>