<div class="card border-secondary">
    <div class="card-body text-center p-2">
        <h5>Ejercicio #3</h5>
    </div>
</div>

<div class="container" infiniteScroll [infiniteScrollDistance]="2" (scrolled)="onScroll()">
    <div class="row">

    </div>
    <div class="row justify-content-center">
        <h1 class="d-inline" style="text-align: center">Marvel Heores</h1>


    </div>
    <div class="row justify-content-center">
        <div class="col-lg-6 col-12">
            <input type="text" class="form-control" (input)="buscar()" [(ngModel)]="filtroBuscar"
                placeholder="Buscar por nombre...">
        </div>
        <div class="col-lg-6 col-12 text-end">
            <button class="  btn btn-outline-primary text-center" (click)="open(content)">Agregar nuevo
                Héroe</button>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6" *ngFor="let hero of heroes;let i =index">
            <div class="card mb-3 border-secondary">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img *ngIf="!hero.imgEdit" [src]="hero.thumbnail.path+'.'+hero.thumbnail.extension"
                            class="img-fluid rounded-start" alt="...">
                        <img *ngIf="hero.imgEdit" [src]="hero.thumbnail.path" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{hero.name}}</h5>
                            <p class="card-text"> {{hero.description}}</p>
                            <p class="card-text"><small class="text-muted"> Modificado por última vez: {{hero.modified |
                                    date:
                                    'dd/MM/yyyy'}}</small>
                            </p>
                            <button (click)="open(content,i)" class="text-end btn btn-sm btn-outline-primary ">
                                Editar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">
            Editar Héroe
        </h4>
        <button type="button" class="btn btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        </button>
    </div>
    <form #form="ngForm" (ngSubmit)="guardar()">
        <div class="modal-body">
            <div class="col-md-12">
                <div class="mb-3 border-secondary">
                    <div class="row g-0">

                        <div class="col-md-12 text-center">
                            <input type="file" class="form-control" accept="image/png, image/jpeg, image/jpg"
                                (change)="cambiarImagen($event)">
                            <img *ngIf="!hero.imgEdit" style="max-height: 300px;"
                                [src]="hero.thumbnail.path+'.'+hero.thumbnail.extension" class="img-fluid rounded-start"
                                alt="...">
                            <img *ngIf="hero.imgEdit" style="max-height: 300px;" [src]="hero.thumbnail.path"
                                class="img-fluid rounded-start" alt="No hay imagen">
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="nombre">Nombre</label>
                                    <input class="form-control" type="text" name="nombre" [(ngModel)]="hero.name">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="descripcion">Descripcion</label>
                                    <textarea class="form-control" type="text" name="descripcion" rows="5"
                                        [(ngModel)]="hero.description">
                                    </textarea>

                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="text-end btn btn-sm btn-outline-primary " type="submit">
                Guardar</button>
        </div>

    </form>
</ng-template>